<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<activerecord>
    <config>
	  <!--NHibernate Driver to your database. Default one is for Sql server-->
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
	  <!--Should the SQL executed be outputted on say a console screen-->
      <add key="show_sql" value="true" />
	  <!--Should the debug SQL outputted be formatted-->
      <add key="format_sql" value="true" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
	  <!--Credentials to Use to connect-->
      <add key="connection.connection_string" value="Data Source=(local);Initial Catalog=TcmpTest; persist security info=True; Integrated Security=SSPI;" />
      <add value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" key="proxyfactory.factory_class" />
    </config>
  </activerecord>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>